* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}

main {
  margin-top: 20px;
}

ul {
  margin-right: -15px;
}

li {
  padding: 0;
}

/* Cabeçalho - Configura um fundo branco, padding e cria uma barra cinza em baixo */
.cabecalho {
  background: #fff;
  padding: 15px;
  border-bottom: 4px solid #7d97ad;
}

/* Logo da Udacity - Insere a imagem como background e configura posições */
.cabecalho-logo {
  background-image: url("../../media/image/logo.png");
  background-repeat: no-repeat;
  display: block;
  width: 100px;
  height: 103px;
  text-indent: -9999px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Nome do proprietário do site no lado direito(desktop) e centro(tablet e celular) */
.cabecalho-nome {
  font-size: 60px;
  color: #2d3c49;
  margin-top: -29px;
  text-transform: uppercase;
  text-align: center;
}

/* Subtítulo que fica abaixo do nome do proprietário */
.cabecalho-subtitulo {
  font-size: 22px;
  color: #2d3c49;
  margin-top: -42px;
  margin-bottom: 23px;
  text-align: center;
  text-transform: uppercase;
}

/* Configurações gerais dos conteúdos apresentados */
.conteudo {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Título logo acima dos conteúdos */
.conteudo-nome {
  text-align: center;
  font-size: 38px;
  color: #7d97ad;
  margin-bottom: 10px;
}

/* Centralizando a nav dos conteúdos */
.conteudo nav {
  text-align: center;
}

/* Imagem com código - Insere a imagem como background e configura posições */
.conteudo-imagem {
  background: url("../../media/image/code.png") #000 no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 75px 0;
}

/* Deixa a lista sem estilo e sem padding  */
.conteudo-projetos {
  list-style: none;
  padding: 0;
}

/* Aplica estilo nas imagens e textos do projeto  */
.conteudo-projetos__item {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

/* Retira o sublinhado dos links para o Github */
.conteudo-projetos__item a {
  text-decoration: none;
}

/* Aplica o estilo somente no texto abaixo da imagem do projeto */
.conteudo-projetos__nome {
  color: #2d3c49;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 7px;
}

/* Aplica o estilo somente na url do Github */
.conteudo-projetos__url {
  color: #2d3c49;
  font-size: 18px;
  text-align: center;
  margin-top: -33px;
}

/* Configura o container das divs */
.container {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

/* Configura o container das imagens */
.container-img {
  width: 100%;
  height: auto;
  text-align: center;
}

/* Celular (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .conteudo-imagem {
    padding: 103px 0;
  }
}

/* Tablets (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .conteudo-imagem {
    padding: 141px 0;
  }
}

/* Desktop (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 940px;
  }

  .conteudo-imagem {
    padding: 187px 0;
  }

  .conteudo-projetos__item {
    float: left;
    width: 33.33%;
    padding-left: 15px;
    margin: 0 auto;
  }

  .conteudo-nome {
    text-align: left;
    font-size: 38px;
    margin-left: 25px;
    margin-bottom: 10px;
  }

  .cabecalho-logo {
    display: inline-block;
    margin-left: -5px;
    margin-bottom: -71px;
  }

  .cabecalho-nome {
    text-align: right;
  }

  .cabecalho-subtitulo {
    text-align: right;
  }
}

/* Dispositivos com tela grande (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .conteudo-projetos__item {
    float: left;
    width: 33.33%;
    padding: 0;
    margin: 0 auto;
  }

  .conteudo-imagem {
    padding: 229px 0;
  }
}
